body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    padding: 30px;
}

.container {
    background: white;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #ccc;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #dc4c79;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #c73865;
}
